$default-theme-color: #ff3333;
$default-font-color: #fff;
$default-block-margin: 10px;


a.custom-btn {
  background: linear-gradient($default-theme-color, darken($default-theme-color, 20));
  font-weight: bold;
  color: $default-font-color;
  padding: $default-block-margin;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  &:hover {
    background: linear-gradient(lighten($default-theme-color, 10), lighten(darken($default-theme-color, 20), 10));
  }
}

@mixin my-button($color) {
  background: linear-gradient($color, darken($color, 20));
  font-weight: bold;
  color: $default-font-color;
  padding: $default-block-margin;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  &:hover {
    background: linear-gradient(lighten($color, 10), lighten(darken($color, 20), 10));
  }
}

a.btn-test {
  @include my-button(#ffff33);
}
