 @import "compass-mixins/lib/compass";

$default-theme-color: lighten(green, 15);

$default-margin-top: 80px;
$big-margin-top: $default-margin-top + 30px;
$middle-small-margin-top: $big-margin-top / 2;

p.test {
  font-weight: bold;
  font-size: 3em;
  color: blue;
  background-color: $default-theme-color;
}

@mixin my-button($color) {
  $dark-color: darken($color, 10);
  padding: $middle-small-margin-top;
  background: linear-gradient($color, $dark-color);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  &:hover {
    $light-color: lighten($color, 10);
    $light-dark-color: lighten($dark-color, 10);
    background: linear-gradient($light-color, $light-dark-color);
  }
}

a.custom-btn {
  @include my-button($default-theme-color);
}

a.custom-btn-2 {
  @include my-button(#3399ff);
}

@mixin gradient-top-lighten($color:#666, $lighten:10%){
  background-color: $color;
  //@include filter-gradient(lighten($color, $lighten), $color, vertical);
  @include background-image(linear-gradient(lighten($color, $lighten) 0%, $color 100%));
  @include background(linear-gradient(lighten($color, $lighten) 0%, $color 100%));
}

.box-shadow-example div {
  width: 40px;
  height: 40px;
  background: #eeeeee;
  margin: 20px;
  float: left;
}
 
// Default single box shadow
#box-shadow-default {
  @include single-box-shadow;
}
 
// Box shadow with custom settings
#box-shadow-custom {
  @include box-shadow(red 2px 2px 10px);
}
 
#box-shadow-custom-multiple {
  @include box-shadow(rgba(blue, 0.4) 0 0 25px, rgba(green, 0.2) 0 0 3px 1px inset);
}

